html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: #333333;
    background-color: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
}

#topBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: white;
    background-color: rgb(98, 98, 255);
}

#dragZone {
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    width: calc(100% - 40px);
    height: 32px;
}

#exitButton {
    position: fixed;
    top: 0px;
    right: 2px;
    width: 40px;
    text-align: center;
    background-color: #ff6d6d;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

#exitButton:hover {
    background-color: #ff0000;
    box-shadow: 0px 0px 2px 2px #ff3d3d;
}

#content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}

label {
    cursor: pointer;
}

#description {
    margin-top: 50px;
    font-size: 1.1em;
}

#bankLogo {
    position: absolute;
    top: 30px;
    right: 30px;
    max-height: 60px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#legitExtras {
    display: inline-block;
}

.transaction {
    margin: 20px 0px 20px 0px;
}

#noteForm input {
    margin-left: 20px;
    padding: 5px;
}

.transLabel {
    display: inline-block;
    width: 110px;
}

#addTransButton {
    margin: 10px 0px 0px 0px !important;
}

#note {
    resize: none;
    width: 100%;
    height: 100px;
}

#copyModal {
    position: fixed;
    display: inline-block;
    padding: 50px;
    background-color: rgba(63, 202, 47, .59);
    left: 50%;
    bottom: 100px;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.reveal {
    animation: 2s linear 0s reveal;
}

@keyframes reveal {
    0% {
        opacity: 0;
        z-index: 1;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 1;
    }
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    box-shadow: 0px -1px 2px 2px whitesmoke;
    text-align: center;
}

.footerButton {
    display: inline-block;
    text-align: center;
    padding: 0px 10px 0px 10px;
    height: 40px;
    line-height: 40px;
    color: green;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9b9b9b), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #9b9b9b, #d8d8d8);
    background-image: -moz-linear-gradient(top, #9b9b9b, #d8d8d8);
    background-image: linear-gradient(to bottom, #9b9b9b, #d8d8d8);
    cursor: pointer;
}

.footerButton:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#9b9b9b));
    background-image: -webkit-linear-gradient(top, #d8d8d8, #9b9b9b);
    background-image: -moz-linear-gradient(top, #d8d8d8, #9b9b9b);
    background-image: linear-gradient(to bottom, #d8d8d8, #9b9b9b);
}